body {
  width: 100vh;
  height: 100vh;
  background-color: #D2D8D2;
  margin: 0;
}

.fg {
  width: 75vh;
  height: 80vh;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.bottom {
  width: 75vh;
  height: 10vh;
  background-color: #1E1E1F;
  margin: 0 auto;
}

.top {
  width: 100vh;
  height: 15vh;
  background-color: #4B4646;
}