body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF
}

.sides {
  width: 20%;
  height: 100%;
  background-color: #D2D8D2
}

.bottom {
  width: 60%;
  height: 10%;
  background-color: #1E1E1F
}

.top {
  width: 100%;
  height: 20%;
  background-color: rgb(rgb(75, 70, 70), green, blue)
}